<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004706490000-j8cdl08uvf52bvkv0be32673ol0ja2rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004706490000-j8cdl08uvf52bvkv0be32673ol0ja2rl</string>
	<key>API_KEY</key>
	<string>AIzaSyA8xZYVdqKMGzUemSHO0W6jASeKdeTn4CY</string>
	<key>GCM_SENDER_ID</key>
	<string>1004706490000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsuCapstone.CNSAPP2</string>
	<key>PROJECT_ID</key>
	<string>dsucapstone-ed41c</string>
	<key>STORAGE_BUCKET</key>
	<string>dsucapstone-ed41c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004706490000:ios:9f3470049e5ae81dfa1a15</string>
	<key>DATABASE_URL</key>
	<string>https://dsucapstone-ed41c-default-rtdb.firebaseio.com</string>
</dict>
</plist>